@model IEnumerable<NNegrete.Models.Estudiante>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Promedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matriculado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCarrera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Promedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matriculado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarrera)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBanner">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdBanner">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBanner">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
